<table class="table table-bordered">
  <thead>
  <tr>
    <td></td>
    <td>name</td>
    <td>surname</td>
    <td>age</td>
    <td>group</td>
    <td>description</td>
    <td>note</td>
    <td>edit</td>
  </tr>
  </thead>
  <tfoot></tfoot>
  <tbody>
  <tr *ngFor="let user of users" (click)="onSelected(user)" class="user-item">
    <td><span class="text-info glyphicon glyphicon-user"></span></td>
    <td>{{user.name}}</td>
    <td>{{user.surname}}</td>
    <td>{{user.age}}</td>
    <td>{{user.group}}</td>
    <td>{{user.description}}</td>
    <td>{{user.note}}</td>
    <td>
      <button class="btn-warning" type="button" (click)="onEdit(user)">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
    </td>
  </tr>
  </tbody>
</table>


