<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-6 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
          ngModel
          required>
        </div>
        <div class="col-sm-6 form-group">
          <label for="surname">Surname</label>
          <input
            type="text"
            id="surname"
            class="form-control"
            name="surname"
            ngModel
            required>
        </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6 form-group">
                <label for="age">Age</label>
                <input
                  type="number"
                  id="age"
                  class="form-control"
                  name="age"
                  ngModel
                  required
                  pattern="^[1-9]+[1-9]*$">
              </div>
              <div class="col-sm-6 form-group">
                <label for="group">Group</label>
                <input
                  min="0"
                  type="number"
                  id="group"
                  class="form-control"
                  name="group"
                  ngModel>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <label for="description">description</label>
            <textarea class="form-control" id="description" name="description" ngModel>
          </textarea>
          </div>
        <div class="col-sm-12">
          <label for="note">note</label>
          <textarea class="form-control" id="note" name="note" ngModel>
          </textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <br>
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">
            <span class="glyphicon glyphicon-ok"></span>  Save</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">
            <span class="glyphicon glyphicon-remove"></span>  Clear</button>
          <button
            class="btn btn-danger"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"><span class="glyphicon glyphicon-trash"></span>  Delete</button>
          <br>
        </div>
      </div>
    </form>
  </div>
</div>

