
<nav class="navbar navbar-default" role="navigation">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" routerLinkActive="active">
      <a routerLink="/contacts">Contacts</a>
    </li>
    <li role="presentation" routerLinkActive="active">
      <a routerLink="/groups">Groups</a>
    </li>
    <li role="presentation" routerLinkActive="active">
      <a routerLink="/canvas">Canvas</a>
    </li>
  </ul>
</nav>
