<div class="row">
  <div class="col-sm-7">
    <div *ngIf="groups">
      <div class="panel panel-info" *ngFor="let group of groups">
        <div class="panel-heading" (click)="onSelectGroup(group)">
          {{group.name}}
          <span class="badge">{{group.members.length}}</span>
          <button class="btn-warning pull-right" type="button" (click)="onEditGroup(group)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        </div>
        <ul class="list-group collapse" *ngIf="group.members" [ngClass]="{'open': editGroup === group}">
          <li class="list-group-item" *ngFor="let i of group.members">
            <div *ngIf="getUserById(i)">{{getUserById(i).name}} {{getUserById(i).surname}}

            <button class="btn-danger pull-right" type="button" (click)="onDeleteMember(group, getUserById(i).id)">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <form *ngIf="editMode" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-6 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            ngModel
            required
            [ngModel]="editGroup.name"
          >
        </div>
        <div class="col-sm-6">
          <br>
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">
            <span class="glyphicon glyphicon-ok"></span> Save
          </button>
          <button class="btn btn-primary" type="button" (click)="onClear()">
            <span class="glyphicon glyphicon-remove"></span> Clear
          </button>
          <button class="btn btn-danger" type="button" (click)="onDelete()">
            <span class="glyphicon glyphicon-trash"></span> Delete
          </button>
        </div>
      </div>
    </form>
    <button *ngIf="!editMode" class="btn btn-success" type="button" (click)="onAddNewGroup()">
      <span class="glyphicon glyphicon-plus"></span> Add new group
    </button>
  </div>
  <div class="col-sm-5">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let user of filterUsers()">
        {{user.name}} {{user.surname}}
        <button class="btn-warning pull-right" type="button" (click)="onAddNewMember(user)">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </li>
    </ul>
  </div>
</div>
