
<div class="panel panel-info" *ngIf="user">
  <div class="panel-heading">Contact details</div>
  <ul class="list-group">
  <li class="list-group-item text-primary text-uppercase">{{user.name}} {{user.surname}}</li>
  <li class="list-group-item">age: {{user.age}}</li>
  <li class="list-group-item">group: {{user.group}}</li>
  <li class="list-group-item">description: {{user.description}}</li>
  <li class="list-group-item">note: {{user.note}}</li>
  </ul>
</div>

<div class="panel panel-success" *ngIf="!user">
  <div class="panel-heading">Select please a contact from the table</div>
</div>
