<div class="row">
  <div class="col-sm-9">
    <div class="panel panel-primary" *ngIf="users">
      <div class="panel-heading">Contacts list</div>
        <app-contact-table [users]="users" (userSelected)="selectedUser = $event" >
        </app-contact-table>
    </div>

  </div>
  <div class="col-sm-3">
    <app-contact-details  [user]="selectedUser"></app-contact-details>
  </div>
</div>
<div class="row">
  <div class="col-xs-9">
    <app-contact-edit (userUnselected)="selectedUser = null" (newUserSelected)="selectedUser = $event" ></app-contact-edit>
  </div>
</div>
