
<div>
    <button type="button" class="btn btn-primary"(click)="onMove()" >start</button>
    <button type="button" class="btn btn-danger" (click)="onClear()">reset</button>
</div>
<br>
<div>
  <canvas #canvas></canvas>
</div>

