<nav class="navbar navbar-default">
  <span class="navbar-brand">Contacts</span>
</nav>
<div class="container-fluid">
  <div class="row">
   <div class="col-sm-2">
     <app-left-sidebar></app-left-sidebar>
   </div>
    <div class="col-sm-10">
      <app-main-view></app-main-view>
    </div>
  </div>
</div>

